* {
    margin: 0%;
    padding: 0%;
    border: 0%;
}

.div {
    width: 200px;
    height: 200px;
    font-size: 20px;
    line-height: 200px;
    text-align: center;
}

.div-1 {
    background-color: blueviolet;
    float: right;
    width: 300px;
}

.div-2 {
    background-color: brown;
    float: right;
    width: 300px;
}

p {

}

article {
 background-color: silver;
 overflow: hidden;
}
